{% load static %}
{% block content %}
{% endblock %}

  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/3.jpg' %});"> 
    <div class="container">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget">
            <a href="./home_fr.html" class="d-block mb-4"><h5 class="widget-title">Clinique Dentisterie Familiale d'Orléans</h5></a>
            <p>D'assurer un sourire sain et resplendissant tout en adhérant au plus hauts standards de soins dans un environnement sûre et confortable.</p>
            <div class="footer-contact">
              <p><i class="icon_pin"></i>2894 St.Joseph Blvd, Orléans ON  K1C 1G7</p>
              <p><i class="icon_phone"></i>(613) 830-4444</p>
              <p><i class="icon_mail"></i>info@orleansdentist.ca</p>
            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Heures de bureau</h5>

            <!-- Opening Hours -->
            <ul class="opening-hours">
              <li><span>Lundi</span> <span>10:00 am - 8:00 pm</span></li>
              <li><span>Mardi</span> <span>7:30 am - 8:30 pm</span></li>
              <li><span>Mercredi</span> <span>7:30 am - 4:30 pm</span></li>
              <li><span>Jeudi</span> <span>7:30 am - 4:30 pm</span></li>
              <li><span>Vendredi</span> <span>7:30 am - 12:00 pm</span></li>
              <li><span>Samedi/Dimanche</span> <span>Fermé</span></li>
            </ul>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Liens</h5>

            <!-- Quick Links Nav -->
            <nav>
              <ul class="quick-links">
                <li><a href="./about_fr.html">À Propos</a></li>
                <li><a href="./services_fr.html">Services</a></li>
                <li><a href="./community_fr.html">Communauté</a></li>
                <li><a href="https://nebula.wsimg.com/d6881d60058c9fe9c3b89b84b562cd73?AccessKeyId=B3AA32B6867FCA5640F4&disposition=0&alloworigin=1" 
                  data-toggle="tooltip" title="Avant votre première visite, SVP, complétez et signez 
                  les formulaires suivants. Merci!" target="_blank"><span>Formulaires</span></a></li>
                <li><a href="./contact_fr.html">Contact</a></li>
                <li><a href="./covid_fr.html">COVID-19</a></li>
                <li><a href="#">Légal</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Merci!</h5>

            <p>Votre clientèle est précieuse, et nous sommes engagés à bâtir des relations longues et fructueuses avec nos patients. </p>
            <div></div>

            <!-- Social Info -->
            <div class="footer-social-info">
              <a href="https://www.facebook.com/OrleansFamilyDentistry" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/DentistOrleans" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/orleansfamilydentistry/" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.pinterest.com/orleansdentist/" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copywrite-content">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* --> 
  <!-- jQuery js -->
  <script src="{% static 'website/js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'website/js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'website/js/default-assets/active.js' %}"></script>

</body>

</html>