{% extends 'base_fr.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="{% block meta_description %}Welcome to Orleans Family Dentistry!{% endblock %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Orleans Dentist - Contact</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'website/img/core-img/favicon.ico' %}">

  <!-- Core Stylesheet --> 
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dento-load"></div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Top Content -->
          <div class="col-6 col-md-9 col-lg-8">
            <div class="top-header-content">
              <a href="./contact_fr.html" data-toggle="tooltip" data-placement="bottom" title="2894 St.Joseph Blvd, Orléans ON  K1C 1G7"><i class="fa fa-map-marker"></i> <span>2894 St.Joseph Blvd, Orléans ON  K1C 1G7</span></a>
              <a href="./contact_fr.html" data-toggle="tooltip" data-placement="bottom" title="info@orleansdentist.ca"><i class="fa fa-envelope"></i> <span>info@orleansdentist.ca</span></a>
            </div>
          </div>
          <!-- Top Header Social Info -->
          <div class="col-6 col-md-3 col-lg-4">
            <div class="top-header-social-info text-right">
              <a href="https://www.facebook.com/OrleansFamilyDentistry" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/DentistOrleans" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/orleansfamilydentistry/" data-toggle="tooltip" data-placement="bottom" title="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.pinterest.com/orleansdentist/" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
              <a href="./contact_fr.html" class="btn dento-btn booking-btn">Français</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Header End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="dentoNav">

            <!-- Logo -->
            <a class="nav-brand" href="./home_fr.html"><img src="{% static 'website/img/core-img/logo2.png' %}" alt=""></a> 

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li><a href="./home_fr.html">Accueil</a></li>
                  <li><a href="./about_fr.html">À Propos</a></li>
                  <li><a href="./services_fr.html">Services</a></li>
                  <li><a href="./community_fr.html">Communauté</a></li>
                  <li><a href="https://nebula.wsimg.com/d6881d60058c9fe9c3b89b84b562cd73?AccessKeyId=B3AA32B6867FCA5640F4&disposition=0&alloworigin=1" 
                    data-toggle="tooltip" title="Avant votre première visite, SVP, complétez et signez 
                    les formulaires suivants. Merci!" target="_blank"><span>Formulaires</span></a></li>
                  <li><a href="./contact_fr.html">Contact</a></li>
                  <li><a href="./covid_fr.html">COVID-19</a></li>
                </ul>
              </div>
              <!-- Nav End -->
            </div>
            <a></a> 
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Breadcrumb Area Start ***** --> 
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Contact</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./home_fr.html"><i class="fa fa-home"></i> Accueil</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Contact Area Start ***** -->
  <section class="dento-contact-area mt-50 mb-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="google-maps mb-100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2797.772387134243!2d-75.5202768842329!3d45.47438884078422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce1181acf72231%3A0xc1806db341c2bafb!2s2894%20St%20Joseph%20Blvd%2C%20Orl%C3%A9ans%2C%20ON%20K1C%201G7!5e0!3m2!1sen!2sca!4v1593879376881!5m2!1sen!2sca"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Contact Information -->
        <div class="col-12 col-md-4">
          <div class="contact-information">
            <h5>Adresse</h5>
            <p>2894 St.Joseph Blvd, Orléans ON  K1C 1G7</p>
            <br>
            <h5>Téléphone</h5>
            <p>(613) 830-4444</p>
            <br>
            <h5>Adresse courriel</h5>
            <p>info@orleansdentist.ca</p>
          </div>
        </div>

        <!-- Contact Form -->
        <div class="col-12 col-md-8">
          <div class="contact-form">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Contactez-Nous</h2>
              <div class="line"></div>
            </div>
              <p>La clinique de Dentisterie Familiale d'Orléans est située au coeur d'Orléans sur boulevard
                 St. Joseph. Vous devez suivre la 417 E et prendre la sortie Place d'Orleans Dr/Champlain St.
                 Nous aimerions que vous puissiez visiter notre clinique! Vous pouvez également nous téléphoner
                 ou nous envoyer un courriel selon les détails à la gauche.
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Contact Area End ***** -->

  {% endblock %}